# Ignore specific directories
output/
samples*/
runs/
checkpoints/
logs/
tools/

# Ignore specific files
*.DS_Store
master_ip
tree_migration.md

# Ignore __pycache__ directories anywhere in the project
**/__pycache__/

# Ignore .idea and .vscode directories (IDE-specific)
.idea/
.vscode/

# Ignore .ipynb_checkpoints (Jupyter Notebook checkpoints)
.ipynb_checkpoints/